{% extends "layouts/default.twig" %}
{% block content %}
<div class="page-content">
    <h2 class="page-title">Session Recommendations</h2>
    <p>This year we are recommending a different, and what we hope to be a fun, way to think about your submissions. In addition, this year we are encouraging speakers to include at least one talk that would be deliverable via video – either live or prerecorded. We know that the WordPress community is filled with so many diverse, interesting people, and it would be a fault on our part if we didn’t take advantage of that! So hear us out, this is what we are suggesting.</p>

    <h3>Full-length talks, WordPress focused</h3>
    <p>Your first submission could be WordPress-focused, with a goal to teach someone something they didn’t know when they came to WordCamp U.S. We want to create programming in such a way that attendees will walk away raving about how much they learned at WordCamp U.S. With this type of feedback, we can ensure that WordPress-focused companies can see the value of sending more employees to WordCamp U.S. in the future. These submissions should be submitted as regular session length.</p>

    <p>We welcome topics on the below areas that overlap many areas like development, content, and design, etc. but we are not limiting topics to these areas:</p>
    <ul>
        <li>Accessibility </li>
        <li>Best Practices</li>
        <li>Collaboration</li>
        <li>Diversity and Inclusion</li>
        <li>New Discoveries </li>
        <li>Overcoming Obstacles</li>
        <li>Open Source Communities</li>
        <li>Professional Development</li>  
        <li>Privacy</li>
        <li>Security</li>
        <li>Success Stories</li>
    </ul>

    <h3>Lightning length, skills mastery focused</h3>
    <p>Your second submission could be creative and different than what you might normally submit to a WordCamp. We are all unique and we all do things a little differently. Share something with us that you have mastered in your life. It could be WordPress related or it could be completely off-the-topic of WordPress, but the skills you learned could be applied to the WordPress world. For example, one of our team members enjoys shooting archery, and although she would love to teach folks how to shoot, she could instead teach people about the tactics of being a successful archer. Things like taking your time, ensuring 100% accuracy, and considering your hurdles like wind and distance. Although these are specific examples for archery, these examples can relate to solving other real-life problems, and problems we face in WordPress. These submissions should be submitted as a lightning session length.</p>
    <p>Now, remember, these are just suggestions. You have three submission slots, and you may divide your submissions however you would like: three lightnings, three full-lengths, or any combination of each. Please be advised if you submit more than three items, we will only consider the three.</p>

    <h3>WCUS Programming Office Hours</h3>
    <p>Because ensuring that we have a diverse group of speakers and a variety of great topics is important, we are going to be hosting Office Hours during the open Call for Speakers timeline to ensure that we can answer your questions and help eliminate any barriers you may have to be able to submit. </p>
    <p>Office hours will take place in WordPress slack in the #WCUS channel. There is a <a href="http://make.wordpress.org/chat">helpful guide to joining the WordPress Slack</a> for those that haven’t already.</p>
    <h4>WCUS Speaker Application Interactive Session</h4>
    <p>May 9, 11am – 1pm CDT</o>
    <p> In this session we will cover tips for preparing your speaker application focusing on an online conference.</p>

    <ul>
        <li>Topics</li>
        <li>Titles</li>
        <li>Write-ups</li>
        <li>Bios</li>
        <li>Diversity & Inclusion</li>
    </ul>

    <p>We will also answer any questions you have!</p>

    {% include "_call-submit.twig" %}
</div>
{% endblock %}
