{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>{{ site.title }} Speaker Information</h2>
    <p>
        Your participation in WordCamp US as a speaker is a volunteer contribution to the
        WordPress community. Thank you for being willing to share your wealth of knowledge
        and expertise with our amazing attendees, both in person and on the live stream.
    </p>
    <p>
        We’re committed to showcasing the best WordPress talks from around the world.
    </p>
    <h3>Benefits of Speaking at WordCamp US 2018</h3>
    <p>
        <ul>
            <li>A ticket to WordCamp US</li>
            <li> The opportunity to be heard by a broad audience, in person and on our livestream. </li>
            <li>The warm fuzzy feeling that comes from giving back to your community.</li>
            <li>An invitation to our Volunteer celebration.</li>
        </ul>
    </p>
    <h3>Selection Process</h3>
    <p>
        The call for speakers closes {{ site.enddate | date("l, F j, Y") }} at 11:59pm CDT (-5 GMT). Once the deadline has
        passed the speaker committee will begin reviewing applications. All applicants will be
        notified regarding the status of their talk/talks in the month of August. If you submit
        multiple talks you will only receive one response.
    </p>
    <h3>Tips for Submission</h3>
    <p>
        We encourage potential speakers to upload more than one pitch, but no more than two submissions
        will be accepted from an applicant. If you choose to submit more than two, the first two will
        be the only pitches considered. Be sure your talk description/abstract defines the exact topic
        you want to talk about and what you hope people will learn from your session.
    </p>
    <h3>Speaker Expectations</h3>
    <p>
        Part of the mission of WordCamp US is to provide a great experience for all members of the
        WordPress community. To ensure that we ask speakers to abide by the following:
        <ul>
            <li>Review and agree-to the <a href="https://2019.us.wordcamp.org/code-of-conduct/">Code of Conduct</a></li>
            <li>Provide your slides to the speaker committee one month prior to the event</li>
            <li>Sign the <a href="https://2019.us.wordcamp.org/files/2019/03/AV-Agreement-WCUS-2019.pdf">A/V release form</a>
            </li>
        </ul>
    </p>
    {% if user is not defined %}
    <br /><br />
    <h3><strong><a href="{{ url('login') }}" title="Login or Register">Login or
                register</a></strong> to submit your talk!</h3>
    {% endif %}
</div>
{% endblock %}
