.btn {
  @apply .py-3 .px-6 .rounded;
  white-space: nowrap;
}

.btn-sm {
  @apply .py-2 .px-3 .rounded .text-sm;
  white-space: nowrap;
}

.btn-disabled {
  @apply .bg-grey .text-white .border-2 .border-grey;
  white-space: nowrap;
}

.btn-brand {
  @apply .bg-brand .text-white .border-2 .border-brand;
  white-space: nowrap;
}

.btn-white {
  @apply .bg-white .text-brand .border-2 .border-white;
  white-space: nowrap;
}

.btn-white-o {
  @apply .border-2 .border-white .text-white;
  white-space: nowrap;

  &:hover {
    @apply .bg-white .text-brand;
  }
}

.btn-brand-o {
  @apply .border-2 .border-brand .text-brand;
  white-space: nowrap;

  &:hover {
    @apply .bg-brand .text-white;
  }
}
