.hero {
  padding: 90px 0 0;
  margin-bottom: 90px;
  background-size: cover;
  background-position: center;

  @media (min-width: 1280px) {
    max-width: 1340px;
    margin: 0 auto 90px;
    border-radius: 12px;
    overflow: auto;
  }

  > .container {
    max-width: 1240px;
    padding-left: 0;
  }

  .hero__text-box {
    padding: 30px;
    margin-bottom: 90px;
    background: $blue;
    color: white;
    font-size: 16px;

    @media #{$tablet-portrait-down} {
      flex-grow: 1;
    }
  }
  
  .btn-white {
    color: $blue;
  }
  
  .hero__information {
    color: $white;
    background: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,1) 75%);

    .container {
      padding: 0;
    }

    @media #{$tablet-portrait-up} {
      p {
        margin: 0;
      }
    }

    .btn {
      margin-left: 30px;
    }
  }
  
  @media screen and (max-width: 827px) {
    .hero__information {
      padding: 30px;
    }
  }
  
  @media #{$tablet-portrait-down} {
    background-position: left center;

    .hero__information {
      .flex {
        display: block;
      }

      .btn {
        margin-left: 0;
      }
    }
  }
  
  @media screen and (max-width: 600px) {
    padding: 0;
    background-image: none !important;

    .hero__text-box {
      margin-bottom: 0;
      width: 100%;
    }
    
    .hero__information {
      border: none;
      background: $black;
    }
  }
}

@media #{$tablet-portrait-down} {
  .homepage-grid__columns {
    display: block;
  }
  
  .homepage-grid__item {
    width: 100%;
    margin-bottom: 2em;
  }
}
