.hero {
  padding: 90px 0 0;
  margin-bottom: 90px;
  background-size: cover;
  background-position: center;

  .hero__text-box {
    padding: 30px;
    margin-bottom: 90px;
    background: $blue;
    color: white;
    font-size: 16px;
  }
  
  .btn-white {
    color: $blue;
  }
  
  .hero__information {
    padding: 30px 0;
    color: $white;
    border-top: 3px dotted $white;
    background: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,1) 75%);
  }
}
