/**
 * Breakpoint variables
 */
$phone-only: "screen and (max-width: 599px)";
$tablet-portrait-up: "screen and (min-width: 600px)";
$tablet-landscape-down: "screen and (max-width: 899px)";
$tablet-landscape-up: "screen and (min-width: 900px)";
$desktop-up: "screen and (min-width: 1200px)";

/**
 * Color Variables
 */
$textmain: #2f2f2f;
$white: #ffffff;
$off-white: #FFFFFA;
$cardinal: #BD2B2E;
$blue: #003B63;
$black: #303030;

$header: 'Nunito', sans-serif;
$body: 'Nunito Sans', sans-serif;

body {
  font-family: $body;
  font-size: 18px;
  line-height: 1.555555;
}

.site-header {
  padding: 30px 0;

  a {
    color: $cardinal;
    font-weight: bold;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
    
    & + a {
      margin-left: 2em;
    }
  }

  .site-title a {
    margin:  auto;
    display: block;
    width: 167px;
    height: 181px;
    text-decoration: none;
    background-repeat: none;
    background-position: center;
  }

  .account-navigation {
    justify-content: flex-end;
  }
}

/**
 * --------------------------------------------------------------------
 * Responsive
 * --------------------------------------------------------------------
 */

.margin-right {
  margin-right: 1em;
}

.wcus-margin-top {
  margin-top: 1em;
}

.wcus-button-height {
  .btn {
    line-height: 4em;
  }
}

.wcus-tablet-padding {
  @media #{$tablet-landscape-down} {
    padding: 0 2rem;
  }
}

.wcus-mobile-padding {
  @media #{$phone-only} {
    padding: 0 2rem;
  }
}

.site-title {
  @media #{$phone-only} {
    font-size: 1.5em;
  }
}

.wcus-full-width-tablet {
  @media #{$tablet-landscape-down} {
    flex-wrap: wrap;

    > *:not(a) {
      width: 100%;
    }
  }
}

.wcus-full-width-mobile {
  @media #{$phone-only} {
    flex-wrap: wrap;

    > *:not(a) {
      width: 100%;
    }
  }
}
