{% extends "layouts/default.twig" %}
{% block content %}
<div class="page-content">
    <h2 class="page-title">Change Your Password</h2>
    {% include "forms/_change_password.twig" %}
</div>
{% endblock %}
