{% extends "layouts/default.twig" %}
{% block content %}
<div class="page-content">
    <h2 class="page-title">Reset My Password</h2>
    {% include "forms/_reset_password.twig" %}
</div>
{% endblock %}
