<div class="container">
    <div class="section row">
        <div class="col-md-6">
            <h3 class="headline headline--beta">Got a talk idea? We want to see it!</h3>
            <p>
                Are you passionate about WordPress? Are you a content creator, a designer, a 
                developer, a community member, if so we want to <strong>WE WANT TO HEAR YOUR STORY!</strong> 
                We want to hear what you love about WordPress.
                
                <p><a href="{{ url('talk_ideas') }}">View Talk Ideas</a></p>

            </p>
        </div>
        <div class="col-md-6">
            <h3 class="headline headline--beta">As A Speaker</h3>
            <p>
                Your participation in WordCamp US as a speaker is a volunteer contribution to the 
                WordPress community. Thank you for being willing to share your wealth of knowledge 
                and expertise with our amazing attendees, both in person and on the live stream. 
                We’re committed to showcasing the best WordPress talks from around the world.
            </p> 
 

                <p><a href="{{ url('speaker_package') }}">View Full Speaker Information</a></p>
            </p>
        </div>
    </div>
</div>

<section class="section section--primary">
    <div class="container">
        <h2 class="headline headline--beta headline--centered">Diversity Matters!</h2>
        <p>
            {{ site.title }} realizes that one of the biggest assets of the WordPress community is its 
            diversity. Every member of the WordPress community has a unique point of view, and we want to 
            showcase these multiple perspectives not only from the US, but also from around the globe.
        </p>
        <p>
           We are also committed to ensuring the conference is a place where ideas are exchanged, old friends 
           get together, new friends meet, and creativity is sparked. As always, as per our Code of Conduct, 
           <strong>harassment on any level is not tolerated</strong>. We are all about inclusion where everyone 
           has a chance for a seat at the table.
        </p>
    </div>
</section>
<div class="container">
       <p style="font-size: 14px;font-weight: 600;">This site is covered by the WordPress.org <a href="https://wordpress.org/about/privacy/" target="_blank" title="Privacy Policy">Privacy Policy</a>.</p>
   </div>