{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">WordCamp US Talk Ideas</h2>
    <p>
        Are you passionate about WordPress? Are you a content creator, a designer, a developer, 
        a community member, if so we want to <strong>WE WANT TO HEAR YOUR STORY!</strong> 
        We want to hear what you love about WordPress. 
    </p>
    <p>
       We encourage potential speakers to upload more than one pitch, but no more than three 
       submissions will be accepted from an applicant. If you choose to submit more than three, 
       the first three will be the only pitches considered. Be sure your talk description/abstract 
       defines the exact topic you want to talk about and what you hope people will learn from your session. 
    </p>
    <p>
    	&nbsp
   </p>
       <h4 class="headline--beta"> To get the ideas flowing, here's a few suggestions:</h4>
    
    <ul>
        <li>Building with the WordPress REST API</li>
		<li>Business</li>
		<li>Coding and Development Best Practices</li>
		<li>Contributing to WordPress</li>
		<li>Design</li>
		<li>DevOps / Sysadmin</li>
		<li>Diversity and Inclusion</li>
		<li>Enterprise </li>
		<li>JavaScript</li>
		<li>Lessons from the Open Source Communities</li>
		<li>Marketing</li>
		<li>Media Literacy</li>
		<li>Mental Health</li>
		<li>Mobile-First Design</li>
		<li>Product Management</li>
		<li>Project Management</li>
		<li>Security</li>
		<li>Testing (unit, functional, etc.)</li>
		<li>Translations</li>
		<li>UI and UX Best Practices and Usability</li>
		<li>Version Control</li>
		<li>WordPress Community</li>
		<li>Writing Content</li>
		<li>Other</li>
    </ul>
    
    {% if user is not defined %}
    	<br /><br />
	    {# <h4 class="headline--alpha"><strong><a href="{{ url('login') }}" title="Login or Register">Login or register</a></strong> to submit your talk!</h4> #}
	{% endif %}
</div>
{% endblock %}

